@import './mixin.scss';

.wait{
    width: 100%;
	height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    & .cover{
        width: 70%;
        height: 80%;
	    padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h2{
            @include Pretendard(2.2, 400, #4f4f4f);
        }
        & h1{
            @include Pretendard(2.7, 800, #4f4f4f);
            margin-top: 0 !important;
        }
    }
}